.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 0px solid grey;

}

.header__logo{
    object-fit: contain;
    height: 80px;
}

.header_icon{
    padding: 20px;
}